discord.py[voice]
PyNaCl
rich
mss
pynput
psutil
requests
aiohttp
pyinstaller
pyautogui
pygetwindow; platform_system == "Windows"
pywin32; platform_system == "Windows"
cryptography
opencv-python
sounddevice
soundfile
ping3
vidstream
keyboard
pillow
screeninfo